<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Verify ticket</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>Ticket NO:</td>
            <td><input type="text" size="7" name="Ticket NO"></td>
        </tr>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td><input type="text" name="Source"></td>
        </tr>
        <tr>
            <td>Destination:</td>
            <td><input type="text" name="Destination"></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" size="7" name="Amount"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" name="Date"></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="time" name="Time"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" name="Status"></td>
        </tr>
        <tr>
            <td align="center" colspan="3"><input type="submit" value="Verify" name="submit"></td>
        </tr>
    </table>
</body>
</html>