<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Verify ticket</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>Ticket NO:</td>
            <td><input type="text" size="7"></td>
        </tr>
        <tr>
            <td>username:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Destination:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" size="7"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="time"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td align="center" colspan="3"><input type="submit" value="Verify"></td>
        </tr>
    </table>
</body>
</html>