<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Status</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>Trip status:</td>
            <td>
        <select>
            <option>Not started</option>
            <option>Enroute</option>
            <option>Delayed</option>
            <option>Completed</option>
        </select>
            </td>
        </tr>
    </table>
</body>
</html>