<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add bus with full detail</title>
</head>
<body>
    <table>
        <tr>
            <td>Bus name:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Bus NO:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>GPS ID</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>RC NO:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Upload bus photo:</td>
            <td><input type="image" value=" "></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="ADD"></td>
        </tr>
    </table>
</body>
</html>