<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriverRegister</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="Username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" size="2" name="Age"></td>
                <td>Gender</td>
                <td>
                    <input type="radio" name="Gender" value="F">F
                    <input type="radio" name="Gender" value="M">M
                </td>
            </tr>
            <tr>
                <td>ContactNo:</td>
                <td><input type="text" name="Contact_NO"></td>
            </tr>
             <tr>
                <td>Address</td>
                <td>
                <textarea name="Address" ></textarea>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Add">
                </td>
            </tr>
        </table> 
    </form>
</body>
</html>
