<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track bus</title>
</head>
<body>
    <h2><center>Track bus</center></h2>
    <table align="center">
        <tr>
            <td>Bus NO:</td>
            <td><select>
                <option>busno1</option>
                <option>busno2</option>
            </select></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="Track"></td>
        </tr>
    </table>
</body>
</html>