<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View registered buses</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Bus name</th>
            <th>Bus NO</th>
            <th>Capacity</th>
            <th>RC NO</th>
            <th>Photo</th>
        </tr>
        {% for i in val %}
        <tr>
            <td> {{i.Busname}}</td>
            <td>{{i.Bus_NO}} </td>
            <td> {{i.Capacity}}</td>
            <td>{{i.RC_NO}}</td>
            <td><img src="{{i.Photo.url}}"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>