<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bus Driver</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Licence number</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact number</th>
            <th>Address</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr>
            {% for i in val %}
            <td>{{i.Driver_Name}} </td>
            <td> {{i.Licence_NO}}</td>
            <td> {{i.Age}}</td>
            <td>{{i.Gender}} </td>
            <td> {{i.Contact_NO}}</td>
            <td>{{i.Address}} </td>
            <td>{{i.Status}} </td>
            <td>
                <a href="/EditBusDriver/{{ i.id }}">Edit</a> 
                <a href="/DeleteBusDriver/{{ i.LOGIN.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td>
                <a href="/DriverRegister">add new</a>
            </td>
        </tr>
    </table>
</body>
</html>