<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View bus drivers</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Licence number</th>
            <th>Contact NO</th>
            <th>Status</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Driver_Name }}</td>
            <td>{{ i.Licence_NO}}</td>
            <td>{{i.Contact_NO }}</td>
            <td>{{i.Status}}  </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>