<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view & select bus route</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th></th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.Source}}</td>
            <td>{{i.Destination}}</td>
            <td><input type="checkbox"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>