<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View and approve conducter</title>
</head>
<body>
   <table border="1">
    <tr>
        <th>conducter name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Contact NO</th>
        <th>Address</th>
        <th> </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="submit" value="ADD"><br><input type="submit" value="DELETE"></td>
    </tr>
   </table> 
</body>
</html>