<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addbusstop</title>
</head>
<body>
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table>
       
        <tr>
            <td>Route:</td>
            <td><select>
            
                <option>-- please select an option --</option>
                {% for i in val %}
                <option value="{{i.id}}">{{ i.Source }} - {{ i.Destination }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Stop name:</td>
            <td><input type="text" name="Stop_name"></td>
        </tr>
        <tr>
            <td>Landmark:</td>
            <td><input type="text" name="Landmark"></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="file" value="" name="Photo"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
    </form>
</body>
</html>