<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addbusstop</title>
</head>
<body>
     <form method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td>Source:</td>
            <td><select><option></option></select></td>
        </tr>
        <tr>
            <td>Destination:</td>
            <td><select><option></option></select></td>

        </tr>
        <tr>
            <td>Stop name:</td>
            <td><input type="text" name="Stop name"></td>
        </tr>
        <tr>
            <td>Landmark:</td>
            <td><input type="text" name="Landmark"></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="image" value=" " name="Photo"></td>
        </tr>
    </table>
    </form>
</body>
</html>