<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Owner</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Bus Name</th>
            <th>Bus No</th>
            <th>Capacity</th>
            <th>GPS ID</th>
            <th>RC Number</th>
            <th>Photo</th>
            <th></th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> <input type="submit" value="Approve"><br><input type="submit" value="Reject"></td>
        </tr>
    </table>
</body>
</html>