<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Owner</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Bus Name</th>
            <th>Bus No</th>
            <th>Capacity</th>
            <th>RC Number</th>
            <th>Photo</th>
            <th></th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.Busname}}</td>
            <td>{{i.Bus_NO}}</td>
            <td>{{i.Capacity}} </td>
           
            <td> {{i.RC_NO}}</td>
            <td> <img src={{i.Photo.url}}  width="100" height="100"></td>
            <td>
                {% if i.Status == "pending" %}
                    <a href="/ApproveBusDetail/{{i.id}}">Approve</a>
                    <a href="/RejectBusDetail/{{i.id}}">Reject</a>
                {% elif i.Status == "active"%} 
                    <a href="/RejectBusDetail/{{i.id}}">Reject</a>
                {% elif i.Status == "rejected"%} 
                    <a href="/ApproveBusDetail/{{i.id}}">Approve</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>