<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Owner</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Bus Name</th>
            <th>Bus No</th>
            <th>Capacity</th>
            <th>GPS ID</th>
            <th>RC Number</th>
            <th>Photo</th>
            <th></th>
        </tr>
        <tr>
            {% for i in val %}
            <td> {{i.Busname}}</td>
            <td>{{i.Bus_NO}} </td>
            <td> {{i.Capacity}}</td>
            <td>{{i.GPS_ID}} </td>
            <td> {{i.RC_NO}}</td>
            <td> {{i.Photo}}</td>
            <td> <input type="radio" name="status"  value="Block">Block <br> <input type="radio" name="status" value="Unblock" >Unblock</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>