<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>username:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td colspan="2" align="center" >
            <input type="submit" name="login" value="login"></td>
        </tr>
    </table>
</body>
</html>