<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Owner</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact number</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> <input type="submit" value="Edit"><br><input type="submit" value="Delete"></td>
        </tr>
    </table>
</body>
</html>