<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Owner</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact number</th>
            <th>Email</th>
            <th></th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Name }}</td>
            <td>{{ i.Age}}</td>
            <td> {{i.Gender}} </td>
            <td>{{i.Contact_NO }}  </td>
            <td>{{i.Email}}  </td>
        <td>
            {% if i.LOGIN.UserType == "pending" %}
                <a href="/ApproveOwner/{{i.id}}">Approve</a>
                <a href="/RejectOwner/{{i.id}}">Reject</a>
            {% elif i.LOGIN.UserType == "Owner"%} 
                <a href="/RejectOwner/{{i.id}}">Reject</a>
            {% elif i.LOGIN.UserType == "Rejected"%} 
                <a href="/ApproveOwner/{{i.id}}">Approve</a>
            {% endif %}
        </td>
        </tr>
                {% endfor %}
    </table>
</body>
</html>