<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Bus NO</th>
            <th>Complaint</th>
            <th>Replay</th>
            <th> </th>
        </tr>
         {% for i in val %}
        <tr>
             <td>{{i.USER.Name}}</td>
             <td>{{i.BUS.Bus_NO}}</td>
             <td>{{i.Complaint}}</td>
             <td>{{i.Reply}}</td>
             <td align="center" colspan="2"><input type="submit" value="send"></td>
        </tr>
         {% endfor %}
    </table>
</body>
</html>