<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view & select bus route</title>
</head>
<body>
    <table border="1">
        <form method="post" action="/SearchStop">
            {% csrf_token %}
        <tr>
            <td>
                <select name="route_id">
                    <option value="0">-- please select a route--</option>
                    {% for i in val1 %}
                    <option value="{{i.id}}">{{ i.Source }} - {{ i.Destination }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search">
            </td>
        </tr>
        </form>
        <tr>
            
            <th>Stop name</th>
            <th>Landmark</th>
            <th></th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.Stop_name}}</td>
            <td>{{i.Landmark}}</td>
            <td>
                <a href="DeleteBusStop/{{ i.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
             <a href="/AddBusStop">ADD</a>
</body>
</html>